@import "src/app/common/Common.scss";

.job-icon-container {
  @apply flex items-center justify-center rounded-full bg-violet-300 w-10 h-10;
  min-width: 2.5rem;
  min-height: 2.5rem;
}

.border-l-1 {
  border-left-width: 1px;
}

.job-info-container {
  @apply ml-2 pl-4 mb-4 border-l-1;
}

.organization-name {
  @apply flex items-center mb-1 text-lg font-semibold;
}

.designation {
  @apply flex items-center mb-1 text-lg font-semibold;
}

.achievements {
  @apply mb-4 text-base font-normal text-gray-500;
}

.dates {
  @apply mb-2 text-sm text-gray-500;
}

.light {
  .job-icon-container {
    @apply bg-violet-300;
  }

  .job-info-container {
    @apply border-l-violet-300/50;
  }

  .job-icon {
    @apply text-black;
  }

  .designation {
    @apply text-slate-500;
  }

  .dates {
    @apply text-slate-500;
  }
}

.dark {
  .job-icon-container {
    @apply bg-slate-300;
  }

  .job-info-container {
    @apply border-l-slate-300/50;
  }

  .job-icon {
    @apply text-black;
  }

  .organization-name {
    @apply text-slate-200;
  }

  .designation {
    @apply text-slate-300;
  }

  .dates {
    @apply text-slate-300;
  }
}