.shiny {
  @apply relative overflow-hidden;
}

.shiny::after {
  @apply absolute bg-gradient-to-r rounded-full blur-3xl;

  content: '';
  width: var(--shine-size);
  height: var(--shine-size);
  opacity: var(--shine-opacity);

  top: calc(var(--y, 0) * 1px - var(--shine-offset));
  left: calc(var(--x, 0) * 1px - var(--shine-offset));

  --tw-gradient-from: var(--from-color);
  --tw-gradient-to: var(--to-color);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
