@import "src/app/common/Common.scss";

.loading {
  @apply h-full text-3xl flex flex-col justify-center items-center content-center;
}

.letter-n {
  @apply border-2 rounded-2xl p-2;
  animation: rotateAnimation 2.5s infinite;
}

.dark {
  @apply bg-dark;

  .letter-n {
    @apply text-slate-200 border-slate-300;
  }
}

.light {
  @apply bg-light;

  .letter-n {
    @apply text-violet-500 border-violet-600;
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
