@import "src/app/common/Common.scss";

.loading {
  @apply h-full text-3xl flex flex-col justify-center items-center content-center;
  min-height: 80vh;
}

.letter-n {
  @apply border-2 rounded-2xl p-2 text-slate-200 border-slate-300;
  animation: rotateAnimation 2.5s infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
